body {
  font-family: 'Play', sans-serif;
  margin: auto;
  background-color: #390240;
  color: #fff;

  background: rgb(109,0,25); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZkMDAxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDA1YmY5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDklIiBzdG9wLWNvbG9yPSIjMjJjY2Y3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNWJmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top,  rgba(109,0,25,1) 0%, rgba(0,91,249,1) 0%, rgba(34,204,247,1) 49%, rgba(0,91,249,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,0,25,1)), color-stop(0%,rgba(0,91,249,1)), color-stop(49%,rgba(34,204,247,1)), color-stop(100%,rgba(0,91,249,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(109,0,25,1) 0%,rgba(0,91,249,1) 0%,rgba(34,204,247,1) 49%,rgba(0,91,249,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(109,0,25,1) 0%,rgba(0,91,249,1) 0%,rgba(34,204,247,1) 49%,rgba(0,91,249,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(109,0,25,1) 0%,rgba(0,91,249,1) 0%,rgba(34,204,247,1) 49%,rgba(0,91,249,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(109,0,25,1) 0%,rgba(0,91,249,1) 0%,rgba(34,204,247,1) 49%,rgba(0,91,249,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#005bf9',GradientType=0 ); /* IE6-8 */

  }

#headline {
  text-align: center;
  color: #555;
  background: #fff;
  margin: 1% auto;
  border: 1px solid #fff;
  padding: 5px;
   -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}

.choices {
  margin: 0px auto;
  text-align: center;
  margin-bottom: 4%;
  margin-top: 3%;
}

.choices img {
  width: 15%;
  max-width: 25%;
  margin-right: 2.5%;
  cursor: pointer;
  opacity: 0.5;
  transition: 1s all ease;
  }

.choices img:hover {
  opacity: 1;
  }

h2, h3 {
  text-transform: capitalize;
  }

#results {
  width: 55%;
  height: 45%;
  list-style: none;
  margin: 0px auto;
  text-align: center;
  padding: 0px;

  }

#results ul {
  margin: auto;
}

#results li {
  background: #fff;
  color: #555;
  font-size: 24px;
  border-radius: 8px;
  padding: 5px;
  width: 80%;
  margin: 0px auto;
  margin-bottom: 10px;
  display: none;
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}

#details{
  width: 75%;
  margin: 0px auto;
  margin-bottom: 30px;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid #aaa;
  border-radius: 8px;
  background-color:rgba(255,255,255,0.7);
  color: ;
   -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}

#details p, h3{
  color: #000;
}

.site-footer {
  width: 80%;
  margin: 0px auto;
  margin-top: -8%;
  text-align: center;
  padding: 10px 10px 10px 10px;
  border-radius: 8px;

}

.site-footer p {
  color: #000;
}

.site-footer, .push {
  height: 130px; 
}




